.login-signup-wrapper{
    width: 25vw;
    padding: 2vw;
}
.login-signup-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-signup-header h3{
    font-size: 2rem;
    font-weight: 400;
}
.login-signup-header p{
    font-size: 0.95em;
    font-weight: 300;
}
.login-signup-form{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-fields
{
    padding: 15px;
    width: 100%;
}
.login-condition
{
    margin-top: 20px;
}
.login-condition > p{
    font-size: 0.65rem;
}
button[type='submit']
{
    width: 100%;
    background-color: tomato;
    padding-top: 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    padding-bottom: 15px;
}